*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-menu{
    height: 650px;
    width: 100%;
    background-image: url(./img/img8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dream-place{
    height: 650px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    color: white;
    flex-direction: column;
    gap:10px
}
.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.border{
    height: 100px;
    width: 120px;
    border: 2px solid;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.border2{
    height: 100px;
    width: 120px;
    font-size: larger;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
}
.media-tags{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .navbar-menu{
        height: auto;
        flex-direction: column;
        color: white;
    }
}

.inner-content{
    padding: 0px 45px;
}

.nav-content{
    height: 280px;
    width: 350px;
    border: 4px double rgba(255, 255, 255, 0.454);
    background-color:rgba(128, 128, 128, 0.447);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: sans-serif;
}

.nav-content>h3{
    color: #18bde0;
}

/* Hero Section */

.hero-section{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blank-space{
    height: 1400px;
    width: 250px;
    background-color: gray;
}
.hero-content-right{
    height: auto;
    width: auto;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-section{
    height: auto;
    width: 950px;
    padding: 25px 0px;   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-us{
    height: auto;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-direction: column;
}
.frame{
    height: 400px;
    width: 900px;
    border: 3px solid gray;
    padding: 10px;
    position: relative;
}
.frame-1{
    height: 400px;
    width: 900px;
    border: 3px solid gray;
    position: absolute;
}
.images{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.images > img{
    height: 250px;
    width: 200px;
}
.our-clients{
    gap: 25px;
    height: auto;
    width: 950px;
    padding: 35px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-direction: column;

}

.our-clients>img{
    width: auto;
    height: 100px;
    border: 2px solid white;
}

.area{
    height: auto;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talk-to-us{
    height: 300px;
    width: 400px;
    padding: 5px 15px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.talk-to-us1{
    height: 300px;
    width: 400px;
    position: absolute;
    border: 2px solid gray;
    top: 5px;
    left: 5px;
}

.form{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.form > input,textarea{
    width: 250px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

.form>button{
    background-color: transparent;
    height: 30px;
    width: 70px;
}
.btn-last{
    height: auto;
    width: 250px;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: white;
}

.btn-last>button{
    background-color: aliceblue;
    border: none;
    box-shadow: 0px 4px 6px grey;
    padding: 7px;
}